<div class="container mt-5 d-flex justify-content-center">

  <div class="card p-4 shadow col-md-5 text-center">

    <div class="mb-2">
      <i class="bi bi-exclamation-triangle-fill text-brown fs-1"></i>
    </div>

    <h3 class="text-brown">Oops!</h3>

    <p class="text-muted mt-2">
      The page you are looking for does not exist<br>
      or your session has expired.
    </p>

    <div class="mt-3 d-flex justify-content-center gap-2">
      <a routerLink="/login" class="btn bg-brown text-white">
        Go to Login
      </a>

      <a routerLink="/home" class="btn btn-outline-secondary">
        Go Home
      </a>
    </div>

  </div>

</div>
